project:
    type: website
    output-dir: _site
execute:
    eval: true
    echo: false
    
website:
  title: "Bol铆var Aponte Rol贸n"
  description: "Data scientist at the intersection of ecology, evolution, and data literacy."
  favicon: assets/img/lapisazuli_logo.webp
  site-url: https://www.bolaponte.com
  repo-url: https://github.com/jibarozzo/bolaponte_website
  repo-actions:
    - source
    - issue

  open-graph:
    locale: en_EN

  page-navigation: true
  back-to-top-navigation: true
  google-analytics:
    tracking-id: "G-LEVV3VZT0E"
    anonymize-ip: true
  
  # To enable cookie consent, uncomment the following lines
  # and add assets/styling/cookie-consent.scss to your format section below
  # cookie-consent:
  #   type: express
  #   prefs-text: "Change cookies "
    
  navbar:
    pinned: false
    logo: assets/img/lapisazuli_logo.webp
    logo-alt: "Bol铆var Aponte Rol贸n Logo"
    right:
      - text: About
        icon: person-circle
        href: about/index.qmd
      - text: CV
        icon: file-earmark-text-fill
        href: cv/index.qmd
      - text: Research
        icon: book-fill
        href: research/index.qmd
      - text: Software
        icon: laptop-fill
        href: software/index.qmd
      - text: Sandbox
        icon: box
        href: blog/index.qmd
      - text: Contact
        icon: envelope-fill
        href: contact/index.qmd

      - icon: github
        aria-label: GitHub
        href: https://github.com/jibarozzo
      - icon: linkedin
        aria-label: LinkedIn
        href: https://www.linkedin.com/in/jibarozzo/

  page-footer:
    border: true
    left: "&#169; 2025 Bol铆var Aponte Rol贸n | Made with [Quarto](https://quarto.org) "
    right:
      - text: Code of conduct
        href: coc.qmd
      - text: Accessibility
        href: accessibility.qmd
      - text: License
        href: license.qmd

format:
   html:
    theme:
      - default
      - assets/styling/theme.scss
      # - assets/styling/cookie-consent.scss  # Uncomment the line below when cookie consent is activated
    #   light:
    #     - flatly
    #     - assets/styling/theme.scss
    #   dark: 
    #     - darkly
    #css: assets/styling/hexagon.css
    toc: true
    toc-depth: 3
    pagetitle: "Bol铆var Aponte Rol贸n | {{< meta title >}}"
    author-meta: "Bol铆var Aponte Rol贸n"
    page-layout: article
    smooth-scroll: true
    link-external-newwindow: true
    code-link: true
    highlight-style: a11y
    lightbox: true