/*-- scss:defaults --*/


// Quarto references:
// Variables: https://github.com/quarto-dev/quarto-cli/src/resources/formats/html/bootstrap/_bootstrap-variables.scss
// Rules: https://github.com/quarto-dev/quarto-cli/src/resources/formats/html/bootstrap/_bootstrap-rules.scss

// Fonts
// Old families
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Fira+Mono&family=Domine:wght@400;700;900&family=Nunito:wght@400;900&display=swap');

// New families
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Fira+Code:wght@300..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



// Define font-family variables
// stylelint-disable-next-line value-keyword-case

// Body font-synthesis-style: ;
$font-family-sans-serif: "Nunito Sans", Raleway, "Red Hat Text", "Source Sans Pro", -apple-system, 
                         BlinkMacSystemFont, "Segoe UI", Roboto, 
                         "Helvetica Neue", Arial, sans-serif, 
                         "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Code fonts
$font-family-monospace: "Fira Code", "Dank Mono", SFMono-Regular, Menlo, Monaco, Consolas, 
                        "Liberation Mono", "Courier New", monospace;

// Heading fonts                        
$font-family-serif: "Baskervville SC", serif;
$main-headings-font-family: $font-family-sans-serif;
$secondary-headings-font-family: $font-family-sans-serif;
$headings-font-weight: 400;

// Colors

$white:  #fff;
$gray-0: #f9f9f9;
$gray-1: #eceeee;
$gray-2: #dfe1e1;
$gray-3: #d0d4d3;
$gray-4: #c0c5c4;
$gray-5: #aeb4b3;
$gray-6: #99a1a0;
$gray-7: #818b8a;
$gray-8: #626f6d;
$gray-9: #334240;
$black:  #000000;

$primary:         #3b017e; //#120A8F;
$secondary:       #7a026e;
$accent:          #fd4104;
$secondary-accent:#b8094e;
$terciary-accent: #ff596c;
$light:           #f8f8f3; // #fcf9f2; #EFE2BA; #FFF5E4;
$secondary-light: #ffade0;
$terciary-light:  #ffd5ff;
$primary-dark:    #7a026e;
$secondary-dark:  #3b017e; //#120A8F;
$light-accent:    $gray-3;
$dark:            $gray-9;

// Base document colors
$navbar-bg: $primary; // navbar
$navbar-fg: $white; // navbar foreground elements
$navbar-hl: $secondary-accent; // highlight color when hovering over navbar links
$link-color: $primary-dark; // hyperlinks

// Inline code colors
$code-bg: $terciary-light; // inline code background color
$code-color: $dark; // inline code text color

// Contrast
$min-contrast-ratio:   7;

/*-- scss:rules --*/

// Global styles
body {
  font-family: $font-family-sans-serif;
  color: $primary;
  background-color: $light;
  position: relative;
  
}

// Body background
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $light;
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px, 30px 30px;
  z-index: -1;
}

// Heading styles
h1, h2, h3, h4, h5, h6 {
  position: relative;
  padding-left: 0em;
  margin-bottom: 1em;
  font-weight: 700;
  letter-spacing: -0.03em;
}

h1 {
  color: $secondary-accent;
  font-size: 2.5em;
  font-family: $main-headings-font-family;
}

h2 {
  color: $terciary-accent;
  font-size: 1.8em;
  font-family: $main-headings-font-family;
}

h3 {
  color: $primary;
  font-size: 1.4em;
  font-family: $secondary-headings-font-family;
}

h4, h5, h6 {
  color: $secondary;
  font-family: $secondary-headings-font-family;
}

// Links
a {
  color: $terciary-accent;
  text-decoration: none;
  position: relative;
  transition: all 0.2s ease;
}

a:hover {
  color: $accent;
  text-decoration: underline;
}

a:not(.nav-link):not(.navbar-brand):not(.btn):not(.figure-link):hover:after { //:not(.lightbox)
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: $accent;
  transition: width 0.3s ease-in-out;
}

a:not(.nav-link):not(.navbar-brand):not(.btn):hover:after {
  width: 100%;
}

// Set up the positioning context
.figure {
  position: relative;
  display: inline-block; // igure container fits its content
  padding: 10px;
}

// The border highlight effect
.figure a.lightbox {
  position: relative;
  display: inline-block;
  transition: all 0.3s ease;
}

.figure a.lightbox:hover::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px solid $accent;
  z-index: 1;
}

// Make the image pop from border
.figure a.lightbox img {
  position: relative;
  z-index: 2;
}


// Navbar and Footer
// Put all the icons in a single row in the hamburger menu (thanks Andrew! https://github.com/andrewheiss/ath-quarto/blob/8bad8578379a83f9aaf6cadd3bc75cb227e76f1b/html/ath.scss#L137-L140)
.navbar {
  position: relative;
  font-family: $font-family-monospace;
  border-bottom: 3.5px solid;
  border-image: linear-gradient(to right, $primary, $accent) 1;
  //background: linear-gradient(to right, $primary, $accent);
}

.navbar-title {
  font-family: $font-family-sans-serif;
  font-weight: 700;
  letter-spacing: -0.05em;
}

.navbar-nav.navbar-nav-scroll.ms-auto {
    flex-direction: row;
}

.footer {
  background-color: $light;
  color: $accent;
  position: relative;
}

.footer::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, $accent, $secondary);
}


// About
// About box
/*.about-entity { 
  background: linear-gradient(to bottom right, $light, $terciary-light);
  border-left: 4px solid $accent;
  border-radius: 0;
  padding: 2em !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
} */

// adjust about separator
div.quarto-about-jolla .about-sep {
  margin: -1em 0em 1em 0em;
}

// Social links with vibrant hover
.about-entity .about-link {
  color: $primary;
  transition: all 0.3s ease;
  transform: scale(1);
  font-size: 1em;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.about-entity .about-link:hover {
  color: $accent;
  transform: scale(1.2);
  background-color: transparent;
}

.about-entity .about-icon {
  color: $accent
}

// Blog title block (banner)
// style background image on posts
.featured-image {
  // https://stackoverflow.com/a/24084708
  // style = "background-image: url(featured.png), url(featured.jpg); background-size: cover; color: white; box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.65);"
  background-size: cover; 
  background-position: center;
  color: $secondary-accent; 
  box-shadow: inset 0 0 0 1000px rgba(248, 248, 243,0.7);
}

p.subtitle.lead {
  font-size: 1em;
  text-align: left;
}


// Add accents to sections
.section-accent {
  position: relative;
  padding: 3em 0;
}

.section-accent::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, $accent, $secondary-accent);
}

// Featured sections with graphic elements
.featured-section {
  position: relative;
  background-color: $terciary-light;
  padding: 3em 1em;
  margin: 2em 0;
  overflow: hidden;
}

.featured-section::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background: linear-gradient(45deg, transparent 49%, $secondary-accent 50%, transparent 51%);
  opacity: 0.2;
}


// Appendix

#quarto-appendix.default {
  background-color: $light;
  padding-top: 1em;
  margin-top: 1em;
  z-index: 998;
}


// Images

.figure-img {
    margin-bottom: 0;
    line-height: 0;
    border-radius: 5px;
}


// Specific classes

.center-text {
  text-align: center;
}

.img-va-bottom {
  vertical-align: bottom;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-float-right {
  float: right;
  padding-left: 1em;
}

.cv-date {
  float: right;
  color: $gray-5;
}


// Listing buttons

div.quarto-post .listing-categories .listing-category, .quarto-category {
  opacity: 0.8 !important;
  color: $secondary-accent;
  border-color: $secondary-accent;
  background-color: $light;
  text-align: center;
  border-style: solid;
  text-decoration: none;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

div.quarto-post .listing-categories .listing-category:hover, .quarto-category:hover {
  background-color: $secondary;
  color: $white;
}

.listing-btn-group {
  display: inline-flex;
  gap: 1em;
}


// Page buttons

.page-link {
  background-color: $secondary-light;
  color: $accent;
}

.page-link:hover {
  background-color: $accent;
  color: white;
}

.page-item.active .page-link {
  background-color: $secondary;
}


// Slide iframes

.slides {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border-style: solid;
  border-width: 1px;
}


// Embed iframe

.mastodon-embed {
  width: 100%;
  height: 100;
  overflow: scroll;
}


// Terminal-style code blocks
pre.sourceCode::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  height: 20px;
  width: 100%;
  background: $gray-7;
  border-radius: 5px 5px 0 0;
}

pre.sourceCode::after {
  content: ">";
  position: absolute;
  top: -28px;
  left: 10px;
  color: $accent;
  font-size: 18px;
}

/* pre {
  border-radius: 0 !important;
  border-left: 4px solid $accent !important;
} 
*/

pre.sourceCode {
  position: relative;
  font-family: $font-family-monospace;
  margin: 1.5em 0;
  font-size: 0.9em;
  border-radius: 0 0 5px 5px

}


// Terminal-style blockquotes
blockquote {
  background-color: #202124;
  color: $light;
  border-left: 4px solid $accent;
  padding: 1.5em;
  margin: 1.5em 0;
  position: relative;
  font-family: $font-family-monospace;
}

blockquote::before {
  content: "> ";
  color: $secondary;
}


// Media queries
@media screen and (max-width: 991.98px) {
  h1 {
    font-size: 2em;
  }
  
  h2 {
    font-size: 1.5em;
  }

  .img-float-right {
    float: right;
    width: 100%;
    padding-bottom: 1em;
    padding-left: 0em;
  }


// Nice footer rows
// from Silvia's blog source code: https://github.com/spcanelon/silvia/blob/main/assets/silvia-theme.scss

  .nav-footer {
      flex-direction: column;
    }

  .nav-footer-center {
    order: 3 !important;
    flex-basis: 100%;
    margin-top: -0.5em;
  }

  .nav-footer-right {
    order: 2 !important;
    flex-basis: 100%;
    text-align: center;
  }

  .nav-footer-left {
    order: 1 !important;
    flex-basis: 100%;
    text-align: center;
  }

  .navbar .quarto-navbar-tools {
    text-align: left;
  }

  div.cookie-consent-footer {
    margin-top: -0.5em;
  }
}


// Cookies

div.cookie-consent-footer {
  font-family: $font-family-sans-serif;
  font-size: 1em;
}

.termsfeed-com---nb .cc-nb-main-container {
    padding: 1rem;
    background: $secondary-light;
    border-radius: 6px;
}

.termsfeed-com---nb .cc-nb-title, #cc-pc-head-title-headline, .cc-cp-body-content-entry .cc-cp-body-content-entry-title {
  font-family: $secondary-headings-font-family;
}

.termsfeed-com---reset {
  font-family: $font-family-sans-serif;
}

.termsfeed-com---palette-light .cc-nb-okagree, .termsfeed-com---palette-light .cc-nb-reject, .cc-pc-container .cc-cp-foot-save {
  background-color: $secondary-accent;
  border-radius: 6px;
}

.termsfeed-com---palette-light .cc-nb-changep {
  background-color: $light;
  border-radius: 6px;
}

.cc-cp-body .cc-cp-body-tabs-item-link, .cc-cp-body .cc-cp-body-tabs {
  background-color: $secondary-light;
}

.termsfeed-com---palette-light .cc-cp-body-tabs-item[active=true] button {
  background-color: $primary-dark;
  color: white;
}

.termsfeed-com---pc-dialog input[type=checkbox].cc-custom-checkbox:checked+label:before {
  background: #18bc9c;
}
